[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILrrN+gr++/JK/Prbdv6esTJPTIvjYKwNdE2ywt/9xc4

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true
